src/Makefile
src/*.so
src/*.dll
src/veins/base/messages/*_m.h
src/veins/modules/messages/*_m.h
src/veins/base/messages/*_m.cc
src/veins/modules/messages/*_m.cc

doc/pdf
doc/doxy
doc/neddoc
doc/*.jpg
doc/Veins.uml

/run
/debug
/memcheck

/out

tests/**/results
tests/**/.cmdenv-log
tests/**/.tkenvrc
tests/**/out.tmp
tests/**/err.tmp
tests/**/*.txt
tests/**/*.csv
tests/**/General.anf
tests/traci
tests/netedit.exe.lnk
tests/sumo-gui.exe.lnk

examples/veins
examples/bologna/**/results
examples/bologna/**/.cmdenv-log
examples/bologna/**/.tkenvrc
examples/bologna/**/out.tmp
examples/bologna/**/err.tmp
examples/bologna/**/*.txt
examples/bologna/**/*.csv
examples/bologna/**/General.anf
