src/Makefile
src/*.so
src/*.dll
src/**/*_m.h
src/**/*_m.cc

doc/pdf
doc/doxy
doc/neddoc

/run
/debug
/memcheck

/out

tests/**/results
tests/**/.tkenvrc
tests/**/out.tmp
tests/**/err.tmp
tests/traci
tests/netedit.exe.lnk
tests/sumo-gui.exe.lnk

/examples
