<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<!--
		<AnalogueModel type="TwoRayInterferenceModel">
			<parameter name="DielectricConstant" type="double" value="1.02"/>
		</AnalogueModel>
		-->
		<AnalogueModel type="SimplePathlossModel">
			<parameter name="alpha" type="double" value="2.0"/>
			<parameter name="carrierFrequency" type="double" value="5.890e+9"/>
		</AnalogueModel>
	</AnalogueModels>
	<Decider type="Decider80211p">
		<!-- The center frequency on which the phy listens-->
		<parameter name="centerFrequency" type="double" value="5.890e9"/>
	</Decider>
	<RoutingPlans>
		<!-- Ensure simtime is written increasely, or simulation will crash, however the order of RoutingPlan doesn't matter -->
		<RoutingPlan type="4">
			<parameter name="simtime" type="double" value="90.0"/>
			<parameter name="receiver" type="long" value="16"/>
		</RoutingPlan>
		<RoutingPlan type="14">
			<parameter name="simtime" type="double" value="145.0"/>
			<parameter name="receiver" type="long" value="11"/>
		</RoutingPlan>
		<RoutingPlan type="18">
			<parameter name="simtime" type="double" value="185.0"/>
			<parameter name="receiver" type="long" value="19"/>
		</RoutingPlan>
	</RoutingPlans>
</root>
