<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<AnalogueModel type="SimplePathlossModel">
			<parameter name="alpha" type="double" value="2.0"/>
			<parameter name="carrierFrequency" type="double" value="5.890e+9"/>
		</AnalogueModel>
	</AnalogueModels>
	<Decider type="Decider80211p">
		<!-- The center frequency on which the phy listens-->
		<parameter name="centerFrequency" type="double" value="5.890e9"/>
	</Decider>
	<RoutingPlans>
		<!-- Ensure simtime is written increasely, or simulation will crash, however the order of RoutingPlan doesn't matter -->
		<RoutingPlan type="10">
			<parameter name="simtime" type="double" value="1.6"/>
			<parameter name="receiver" type="long" value="26"/>
			<parameter name="totalbytes" type="int" value="20480"/>
			<parameter name="calctime" type="double" value="15.0"/>
			<parameter name="simtime" type="double" value="1.7"/>
			<parameter name="receiver" type="long" value="27"/>
			<parameter name="totalbytes" type="int" value="20480"/>
			<parameter name="calctime" type="double" value="15.0"/>
		</RoutingPlan>
	</RoutingPlans>
	<TrajectoryPlans>
		<!-- Notes: do not specify address as the type of TrajectoryPlan, use the full name of UAV module instead -->
		<TrajectoryPlan type="node[0]">
			<parameter name="pos" type="coord" value="200.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[1]">
			<parameter name="pos" type="coord" value="400.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[2]">
			<parameter name="pos" type="coord" value="600.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[3]">
			<parameter name="pos" type="coord" value="800.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[4]">
			<parameter name="pos" type="coord" value="1000.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[5]">
			<parameter name="pos" type="coord" value="1200.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[6]">
			<parameter name="pos" type="coord" value="1400.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[7]">
			<parameter name="pos" type="coord" value="1600.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[8]">
			<parameter name="pos" type="coord" value="1800.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[9]">
			<parameter name="pos" type="coord" value="2000.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[10]">
			<parameter name="pos" type="coord" value="2200.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[11]">
			<parameter name="pos" type="coord" value="2400.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[12]">
			<parameter name="pos" type="coord" value="2600.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[13]">
			<parameter name="pos" type="coord" value="2800.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,100.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[14]">
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[15]">
			<parameter name="pos" type="coord" value="250.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[16]">
			<parameter name="pos" type="coord" value="500.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[17]">
			<parameter name="pos" type="coord" value="650.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[18]">
			<parameter name="pos" type="coord" value="750.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[19]">
			<parameter name="pos" type="coord" value="900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[20]">
			<parameter name="pos" type="coord" value="1050.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[21]">
			<parameter name="pos" type="coord" value="1200.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[22]">
			<parameter name="pos" type="coord" value="1350.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[23]">
			<parameter name="pos" type="coord" value="1500.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[24]">
			<parameter name="pos" type="coord" value="1600.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[25]">
			<parameter name="pos" type="coord" value="1800.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[26]">
			<parameter name="pos" type="coord" value="2000.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[27]">
			<parameter name="pos" type="coord" value="2100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[28]">
			<parameter name="pos" type="coord" value="2250.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[29]">
			<parameter name="pos" type="coord" value="2400.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[30]">
			<parameter name="pos" type="coord" value="2550.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[31]">
			<parameter name="pos" type="coord" value="2700.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[32]">
			<parameter name="pos" type="coord" value="2900.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
			<parameter name="pos" type="coord" value="100.0,120.0,1.5"/>
			<parameter name="speed" type="double" value="25.0"/>
		</TrajectoryPlan>
	</TrajectoryPlans>
</root>
