<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<AnalogueModel type="SimplePathlossModel">
			<parameter name="alpha" type="double" value="2.0"/>
			<parameter name="carrierFrequency" type="double" value="5.890e+9"/>
		</AnalogueModel>
	</AnalogueModels>
	<Decider type="Decider80211p">
		<!-- The center frequency on which the phy listens-->
		<parameter name="centerFrequency" type="double" value="5.890e9"/>
	</Decider>
	<RoutingPlans>
		<!-- Ensure simtime is written increasely, or simulation will crash, however the order of RoutingPlan doesn't matter -->
		<RoutingPlan type="0">
			<parameter name="simtime" type="double" value="10.5"/>
			<parameter name="receiver" type="long" value="10"/>
			<parameter name="contentsize" type="int" value="1048576"/>
		</RoutingPlan>
	</RoutingPlans>
	<TriggerPlans>
		<!-- Ensure simtime is written increasely, or simulation will crash, however the order of RoutingPlan doesn't matter -->
		<TriggerPlan type="8">
			<parameter name="simtime" type="double" value="19.5"/>
			<parameter name="eventtype" type="int" value="0"/>
			<parameter name="simtime" type="double" value="21.5"/>
			<parameter name="eventtype" type="int" value="1"/>
		</TriggerPlan>
	</TriggerPlans>
	<TrajectoryPlans>
		<!-- Notes: do not specify address as the type of TrajectoryPlan, use the full name of UAV module instead -->
		<TrajectoryPlan type="node[0]">
			<parameter name="pos" type="coord" value="300.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="250.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[1]">
			<parameter name="pos" type="coord" value="700.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="600.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[2]">
			<parameter name="pos" type="coord" value="1100.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="1150.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[3]">
			<parameter name="pos" type="coord" value="1500.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="1600.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[4]">
			<parameter name="pos" type="coord" value="1900.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="1950.0,200.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[5]">
			<parameter name="pos" type="coord" value="300.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="350.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[6]">
			<parameter name="pos" type="coord" value="1100.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="1150.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[7]">
			<parameter name="pos" type="coord" value="1900.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
			<parameter name="pos" type="coord" value="2000.0,500.0,1.5"/>
			<parameter name="speed" type="double" value="20.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[8]">
			<parameter name="pos" type="coord" value="300.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
			<parameter name="pos" type="coord" value="325.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="5.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[9]">
			<parameter name="pos" type="coord" value="700.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
			<parameter name="pos" type="coord" value="650.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="10.0"/>
		</TrajectoryPlan>
		<TrajectoryPlan type="node[10]">
			<parameter name="pos" type="coord" value="1100.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
			<parameter name="pos" type="coord" value="1025.0,900.0,1.5"/>
			<parameter name="speed" type="double" value="15.0"/>
		</TrajectoryPlan>
	</TrajectoryPlans>
</root>
